body {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}

table {
  border-spacing: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  }
  th {
  padding: 10px 20px;
  background: #56433D;
  color: #F9C941;
  border-right: 2px solid;
  font-size: 0.9em;
  }
  th:first-child {
  text-align: left;
  }
  th:last-child {
  border-right: none;
  }
  td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433D;
  border-bottom: 2px solid #56433D;
  border-right: 2px solid #56433D;
  }
  td:first-child {
  border-left: 2px solid #56433D;

  }
  td:nth-child(2){
  text-align: left;
  }

  .input-text-sum-result {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
    }

    .result {
      text-align: right;
      margin-top: 40px;
    }

    .main-heading {
      text-align: center;
    }